body{
    overflow-x: hidden;
    background-color: #191919;
    color: white;
}
:root{
    --main-color: #191919;
    --selected-color: #C84B31;
    --second-color: #ECDBBA;
    --blue-color: #2D4263;
}
.volver-arriba{
    transition: .5s;
    text-align: center;
    text-decoration: none;
    z-index: 10;
    position: fixed;
    right: 15px;
    bottom: 5px;
}
.volver-arriba:hover{
    color: var(--selected-color) !important;
}
/** HEADER  **/
header{
    position: sticky;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    width: 100vw;
    z-index: 90;
}
a{
    text-decoration: none;
/** NAVS **/
}
.nav-principal{
    border-bottom: 1px solid var(--selected-color);
    height: 70px;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
}
.nav-secundaria{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background-color: var(--selected-color);
}
.nav-secundaria a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
}
.ico{
    margin-left: 30px;
    display: flex;
    align-items: center;
    grid-column: 50px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}
.search{
    display: flex;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
}
.link-nav{
    color: white;
    background: linear-gradient(var(--selected-color),var(--selected-color));
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 0% 2px;
    margin: 0 10px;
    transition: .3s;
}
.link-nav:hover{
    color: white;
    background-size: 100% 2px;
}
.txt-nav{
    color: white;
}
.buscar{
    color: white;
    border: 0;
    padding: 3px;
    background-color: var(--main-color);
    border-radius: 30px;
}
.btn-search{
    background-color: var(--selected-color);
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
}
/** CABECERA **/
.cabecera{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
}
.img-cab{
    width: 250px;
}
.img-1{
    animation: uno 2s ease-in-out backwards ;
    top: 30px;
    left: 200px;
    position: absolute;
    transition: 1s;
}
.img-2{
    animation: dos 2s ease-in-out backwards 1.5s;
    left: 150px;
    top: 70px;
    position: absolute;
    transition: 1s;
}
.img-3{
    animation: tres 2s ease-in-out backwards 3s;
    left: 240px;
    top: 35px;
    position: absolute;
    transition: 1s;
}
.img-4{
    animation: cuatro 2s ease-in-out backwards 4.5s;
    left: 300px;
    top: 80px;
    position: absolute;
    transition: 1s;
}
.img-5{
    animation: cinco 2s ease-in-out backwards 6s;
    left: 250px;
    top: 20px;
    position: absolute;
    transition: 1s;
}
.img-6{
    animation: seis 2s ease-in-out backwards 7.5s;
    top: 100px;
    left: 350px;
    position: absolute;
    transition: 1s;
}
@keyframes uno{
    0%{
        transform: scale(1.3);
        opacity: 0%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}
@keyframes dos{
    0%{
        transform: scale(1.3);
        opacity: 0%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}
@keyframes tres{
    0%{
        transform: scale(1.3);
        opacity: 0%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}
@keyframes cuatro{
    0%{
        transform: scale(1.3);
        opacity: 0%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}
@keyframes cinco{
    0%{
        transform: scale(1.3);
        opacity: 0%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}
@keyframes seis{
    0%{
        transform: scale(1.3);
        opacity: 0%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}
.cont-video{
    height: 550px;
    position: relative;
}
.txt-cabecera{
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrows{
    color: var(--selected-color);
    animation: 2s arrow ease-in-out infinite;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title-cab{
    font-size: 5em;
}

@keyframes arrow{
    0%{
        opacity: 0%;
        transform: translateY(0);
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
        transform: translateY(50px);
    }

}

@media (max-width: 1078px){
    nav{
        align-items: center;
        height: 150px;
        flex-direction: column;
    }
    .login{
        justify-content: flex-start;
    }
    .ico{
        margin: 5px 0;
    }
    .link-nav{
        margin: 5px 20px;
    }
    .search{
        padding-bottom: 5px;
    }
    .cabecera{
        overflow-x: hidden;
        grid-template-columns: repeat(1,1fr);
    }
    .cont-video{
        height: 300px;
    }
    .img-1{
        left: 100px;
    }
    .img-2{
        left: 400px;
    }
    .img-3{
        left: 200px;
    }
    .img-4{
        left: 50px;
    }
    .img-5{
        left: 500px;
    }
    .img-6{
        left: 600px;
    }
}

/** CARDS **/
.info{
    background:linear-gradient(var(--main-color),transparent,var(--main-color)),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
.card-bg{
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px white;
}
.btn{
    color: white;
}
.separador{
    margin: 25px auto;
    width: 500px;
    height: 2px;
    background-color: white;
}

/** NOVEDADES **/
.caratula{
    transition: 1s;
    width: 100px;
    margin: 0 10px;
}
.pase-caratulas{
    margin: 20px 0;
    animation: pase-novedades 40s linear infinite;
    display: grid;
    grid-template-columns: repeat(16,1fr);
}
@keyframes pase-novedades{
    0%{
        transform: translateX(-300px);
    }
}
.caratula:hover{
    transform: scale(2);
}
.pase-caratulas:hover{
    transform: translateX(0px);
}